*{
    padding: 2%;
    color: blue;
    margin: 2%;
}

.GridContainer{
    display: grid;
    grid-template-areas: 
    'header header header'
    'left right right';
}

.item1{
    grid-area: header;
    background-color: lightblue;
    width: 50%;
    transition: width 2s;
}

.item1:hover {
    width: 89.27%;
}

.item2{
    grid-area: left;
    background-color: lightblue;
}

.item3{
    grid-area: right;
    background-color: lightblue;
}

@media only screen and (max-width:800px) {
    .GridContainer {
        display: grid;
    grid-template-areas: 
    'header'
    'left'
    'right';
    }

    .item2{
        background-color: burlywood;
    }
}