    :root {
        --MyLightBlue: #76b5c5;
        --MyBlue: #063970;
        --Sand: #edb879;
    }

    @font-face {
        font-family: Suez;
        src: url("SuezOne-Regular.ttf");
    }

    * {
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: rgb(255, 255, 255);
        padding: 2vw;
    }

    body {
        background-color: var(--MyBlue);
        border: 3px solid var(--Sand);
    }

    body.type2 {
        background-image: url("lion.jpg");
    }

    h1 {
        font-family: Suez;
        animation-name: Disapear;
        animation-duration: 2s;
        animation-iteration-count: 5;
    }

    .GridContainer{
        display: grid;
        grid-template-areas: 
        'top_left top_right top_right' 
         'bottom_left bottom_center bottom_right ';
    }

    .item1 {
        grid-area: top_left;
        
    }
    
    .item2 {
        grid-area: top_right;
    }

    .item3 {
        grid-area: bottom_left;
        font-size: large;
    }

    .item4 {
        grid-area: bottom_right;
    }

    .item5 {
        
        grid-area: bottom_center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    @keyframes Disapear {
        0%  {color: white;}
        50% {color: rgba(255, 255, 255, 0.0);}
        100% {color: white;}
    }