*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    padding: 10px;
}

h1 {
    color: rgb(222, 95, 95);
}

#form_H1{
    color: rgb(231, 210, 27);
}

.classA{
    background-color: rgb(155, 176, 71);
    color: rgb(68, 0, 255);
    font-family: Arial, Helvetica, sans-serif;
    display: block;
}