    <!DOCTYPE html>
    <html lang="en">
    <head>
        <link rel="stylesheet" href="../static/GigoStyle.css">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
</head>
    <body>
        <div class="GridContainer">
            <div class="item1">
                <h1>Hi Gigo</h1>
            </div>
            <div class="item2">
                <h2>This is an intro to grid model</h2>
            </div>
            <div class="item3">
                <a href="page2.html">next page</a>
            </div>
            <div class="item4">
                <img src="../static/ניו יורק.webp" alt="my image" width="300" height="150"
            ></div>
            <div class="item5">
                <ul>
                    <li> ron</li>
                    <li>orr</li>
                    <li>omer</li>
                </ul>
            </div>

    </div>

    
</body>
</html>