<!DOCTYPE html>
<html>
    <head>
    <title>This is my first HTML</title>
   
</head>
    <body style="color: blue;">
        <h1>188 the best</h1>
        
        <h3>cities</h3> 
        <ol>
        <li>Herzeliya</li>
        <li>Tel Aviv</li>
        <li>Jerusalem</li>
       </ol>

       <a href="https://www.n12.co.il/?utm_source=google_search&utm_medium=cpc&utm_campaign=n12_3.23&gclid=Cj0KCQjwla-hBhD7ARIsAM9tQKuaK0L2f4XEI6GCfqY5KfP3vDMCODeT6Dn6NyyoRlic-DA_P6jaTiEaAuIgEALw_wcB">new12</a>

       <img width="100%" src="" alt="">

       <table style="border: 1px black solid;">
        <tr>
            <th>id</th>
            <th>name</th>
            <th>age</th>
        </tr>
        <tr>
            <td>1</td>
            <td>orr</td>
            <td>20</td>
        </tr>
       </table>

     
    </body>
</html>